/* General Styles */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: normal 16px "Raleway", sans-serif;
  color: #555;
}

ul {
  list-style: none;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  }

  hr {
  width: 250px;
  height: 3px;
  background-color: #00FF01;
  border: 0;
  margin-bottom: 50px;
}

/* Nav Styles */

nav {
  font-family: "Quicksand", sans-serif !important;
}

a.navbar-brand {
  font-size: 50px;
}

#nav1 a:hover {
  color: #00FF01;
}

.btn-outline-success {
  color: #00FF01;
  border-color: #00FF01;
}

.btn-outline-success:hover {
  color: #fff;
  border-color: #00FF01;
  background-color: #00FF01;
}

/* About Us Page */

.aboutus {
  position: relative;
  text-align: left;
  min-height: 100vh;
  color: #fff;
}

.aboutus .about-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  background-color: #a2aaad;
}

.aboutus .about-us-content {
  font: 16px "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  margin: 50px;
}

.aboutus .about-us-content .slogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer Section */

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #a2aaad;
  color: #fff;
  padding: 20px 0;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul li {
  margin-left: 16px;
}

footer p {
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.6;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

footer a:hover {
  color: #00FF01;
}

@media (max-width: 1100px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  footer p {
    text-align: center;
    margin-bottom: 20px;
  }

  footer ul li {
    margin: 0 8px;
  }
}